.btn-back {
    font-size: 1.5vw;
    position: fixed;
    right: 3vw;
    top: 1vw;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-decoration: none;
    color: rgb(154, 13, 13);
    transition: all 0.4s;
}

.btn-back:hover{
    transform: scale(1.2);
}

/*------------------------------------------------------- branches css ------------------------------------------------------------*/

.pageTitle {
    text-align: center;
    font-size: 2.8vw;
    color: rgb(154, 13, 13);
    margin: 1.5vw;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.search-wrapper {
    display: flex;
    justify-content: center;

    direction: rtl; 
    margin: 1.5vw;
}

#searchTxt {
    width: 55vw;
    border-radius: 0.5vw;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.branches {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.branches-list {
    list-style-type: none;
    width: 55vw;
}

li {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}


.location-Section {
    color: white;
    background-color: rgb(154, 13, 13);
    margin: 0.7vw;
    height: 4vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.8vw;
}

.location-data {
    display: flex;
    flex-direction: row;
    text-align: right;
    height: 12vw;
    justify-content: space-evenly;
    border: none;
}


.location {
    margin-right: 1vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nameOfLocation {
    margin-right: 1vw;
    margin-right: 3.5vw;
    font-size: 1.5vw;
}

.plus-icon {
    margin-left: 1vw;
    font-size: 1.8vw;
}

.location-icon {
    font-size: 1.8vw;
}

.data {
    margin-right: 0.5vw;
}

.branch-data {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%; */
}

.map {
    width: 50%
}   