.register-container
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.form-control
{
    text-align: right;
}

.sign-up-title
{
    color: rgb(154, 13, 13);
    text-align: center;
    font-size: 3.3vw;
}

.approve
{
    font-size: xx-large;
}