

/* responsible for the size and placing of the logo in the middle of the top page*/
.Logo {
    width: 12vw;
    margin-top: 1vw;
}

/* responsible for the animation when the client puts his mouse over each button*/
.btn-about:hover, .btn-accessibility:hover, .btn-contact:hover, .btn-guest:hover ,.btn-menu:hover, .btn-ToOrder:hover{
    transform: scale(1.3);
}

/* the button's font, size, placing, and animation transition time*/
.btn-about, .btn-accessibility, .btn-contact, .btn-guest, .btn-ig, .btn-menu, .btn-ToOrder {
    transition: all 0.4s;
    border: none;
    background: transparent;
    color: rgb(154, 13, 13);;
    text-align: center;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    margin-left:1vw;
    margin-right:1vw;

    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.btn-css{
    color: rgb(154, 13, 13);
    text-decoration: none;
}

/* the button's placing */
.btns-panel {
    justify-content: center;
    border-block-end: solid 2px black;
}

/* the '|' between each button*/
.btns-divider
{
    color: rgb(154, 13, 13);
    size:1vw;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: center;
    

}

.btn-bar{
    text-align: center;
    align-items: center;
}

/* -----------------------  log-in CSS -----------------------------*/

/* fonts */
.details-container
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.sign-in-title
{
    font-size: 2.7vw;
    color: rgb(154, 13, 13);
    text-align: center;
    margin-top: 2vw;
}

.submit-btn
{
    color:  rgb(154, 13, 13);
    border:none;
    border-width: 0.113vw;
    background: transparent;
    font-size: x-large;
    transition: all 0.4s;
}

.submit-btn:hover 
{
    transform: scale(1.1);
}

.link
{
    color:rgb(0, 0, 0);
}

.link:hover{
    color:rgb(154, 13, 13);
}

.register-link
{
    font-size: medium;
    margin-top: 0.5vw;
}

.forgot-password
{
    font-size:medium;
    margin-top: 0.5vw;
}

/* placing of the placeholders in the input boxes*/
.form-control
{
    text-align: right;
}

.cartAndUser {
    display: flex;
    flex-direction: row-reverse;
    border-block-end: solid 2px black;
}

.user {
    margin-right: 2vw;
}

.cart {
    color: black;
    margin-right: 2vw;
}